+b.news-preview-section-wr
  +b.section-title
    h2
      a(href="#") Новости
  +b.news-preview-section.widget
    +b.widget-content
      +e(style="background-image: url(./assets/images/news-preview-bg.png);")#tab-1.item.active
      +e(style="background-image: url(./temp/pic-lrg1.png);")#tab-2.item
      +e(style="background-image: url(./temp/pic-lrg2.png);")#tab-3.item
    +e.list
      +e(data-tab="tab-1").item
        a(href="#")
          +b.inner
            +b.item-head
              +b.date 13 июля 2017
              +b.likes 3 789
            +b.title
              h3 5 дней шаурмы
            +b.text Хлеб и начинка — из разных частей света. Роман Лошманов о месте под названием «Рынок и общепит».
      +e(data-tab="tab-2").item
        a(href="#")
          +b.inner
            +b.item-head
              +b.date 13 июля 2017
              +b.likes 3 789
            +b.title
              h3 Марк Гельман в гостях у «Soys.by»
            +b.text Хлеб и начинка — из разных частей света.
      +e(data-tab="tab-3").item
        a(href="#")
          +b.inner
            +b.item-head
              +b.date 13 июля 2017
              +b.likes 3 789
            +b.title
              h3 5 дней шаурмы
            +b.text Роман Лошманов о месте под названием «Рынок и общепит».
  +b.section-bottom
    +b.sub-title
      a(href="#") Все новости
      +b.border