+b.pagination
  +b.title
    a(href="#").item 1
    a(href="#").item 2
    a(href="#").item 3
    a(href="#").item ...
    a(href="#").item 26
    +b.border
  +b.controls
    +b.arrow-prev
      span
    +b.arrow-next
      span