.pagination {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 58px;
  width: auto;
  margin: 0 40px;
  &.no-border {
    & .title {
      & .border {
        display: none;
      }
    }
  }
  & .title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 50px;
    font-size: 20px;
    text-align: center;
    color: $gray-6D;
    z-index: 2;
    font-family: $font-base;
    color: $gray-6D;
    z-index: 2;
    & a {
      &:hover ~ .border {
        opacity: 0;
      }
    }
    & .border {
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: #8f8f90;
      transition: 0.2s;
    }
    transition: 0.2s;
    & .item {
      padding: 0 9px;
      &:hover {
        color: $black-20;
      }
      &:active {
        color: $gray-D3;
      }
    }
    & a {
      font-size: inherit;
      color: inherit;
    }
  }
  & .controls {
    & .arrow-prev,
    & .arrow-next {
      position: absolute;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 50px;
      margin: auto 0;
      z-index: 9;
      font-size: 0;
      color: transparent;
      background-repeat: no-repeat;
      background-position: 0 50%;
      cursor: pointer;
      &:before,
      &:after {
        display: block;
        position: absolute;
        content: '';
        height: 1px;
        width: 6px;
        background-color: $gray-8F;
      }
      span {
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        top: 28px;
        background-color: $gray-8F;
      }
      &:hover {
        transition: 0.1s;
        width: 65px;
        &:before,
        &:after,
        span {
          background-color: $black-20;
        }
      }
      &:active {
        &:before,
        &:after,
        span {
          background-color: $gray-D3;
        }
      }
    }
    & .arrow-prev {
      left: 0;
      &:before {
        left: 0;
        top: 26px;
        @include transform-rotate(-40deg);
      }
      &:after {
        left: 0;
        bottom: 27px;
        @include transform-rotate(40deg);
      }
    }
    & .arrow-next {
      right: 0;
      &:before {
        right: 0;
        top: 26px;
        @include transform-rotate(40deg);
      }
      &:after {
        right: 0;
        bottom: 27px;
        @include transform-rotate(-40deg);
      }
    }
  }
}