+b.recipe-section-wr
  +b.recipe-section
    +b(style="background-image: url(./temp/recipe-1.png);").section-bl.bl-min.bar
      +b.overflow-wr
        +b.category Барная карта
        +b.overlay
        +b.inner
          +b.title
            h2 Арбузный лимонад с базиликом
          +e.info
            +b.author
              strong Автор: 
              |
              a(href="#") Soys.by
            +b.date 19 августа 2017
            +b.row
              +b.views 563
              +b.comments 923
              +b.likes 123

    +b(style="background-image: url(./temp/recipe-lrg1.png);").section-bl.bl-lrg.street-food
      +b.overflow-wr
        +b.category Уличная еда
        +b.overlay
        +b.inner
          +b.title
            h2 Весенний сливочный суп
          +e.info
            +b.author
              strong Автор: 
              |
              a(href="#") Soys.by
            +b.date 19 августа 2017
            +b.row
              +b.views 563
              +b.comments 923
              +b.likes 123

    +b(style="background-image: url(./temp/recipe-lrg2.png);").section-bl.bl-lrg.restaurant-food
      +b.overflow-wr
        +b.category Ресторанная еда
        +b.overlay
        +b.inner
          +b.title
            h2 Тыквенный гаспачо из Валенсии
          +e.info
            +b.author
              strong Автор: 
              |
              a(href="#") Soys.by
            +b.date 19 августа 2017
            +b.row
              +b.views 563
              +b.comments 923
              +b.likes 123

    +b(style="background-image: url(./temp/recipe-1.png);").section-bl.bl-min.home-food
      +b.overflow-wr
        +b.overlay
        +b.category Домашняя кухня
        +b.inner
          +b.title
            h2 Рыба в языках пламени
          +e.info
            +b.author
              strong Автор: 
              |
              a(href="#") Soys.by
            +b.date 19 августа 2017
            +b.row
              +b.views 563
              +b.comments 923
              +b.likes 123
              
  +b.section-bottom
    +b.sub-title
      a(href="#") Больше рецептов
      +b.border