.recipe-slider-wr {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
  @media #{$M_XS} {
    display: none;
  }
}
.recipe-slider {
  position: relative;
  height: auto;
  width: 100%;
  z-index: 1;
  &__list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  &__item {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
    & .inner-content {
      position: absolute;
      left: 0;
      right: 0;
      top: 17%;
      width: 54.286%;
      margin: 0 auto 54px;
      color: $white;
      z-index: 2;
      @media #{$M_SMX} {
        width: 80%;
        top: 10%;
      }
      &__category {
        position: relative;
        height: auto;
        min-height: 29px;
        width: 100%;
        margin-bottom: 30px;
        padding-left: 42px;
        padding-top: 8px;
        font-family: $font-secondary;
        font-size: 14px;
        &:before {
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          height: 20px;
          width: 30px;
          content: svg-load('../images/icon_food-home.svg', fill = $red-A5);
        }
        & a {
          font-size: inherit;
          color: inherit;
        }
      }
      &__title {
        text-transform: uppercase;
        padding-bottom: 70px;
        border-bottom: 1px solid $white;
        @media #{$M_SMX} {
          padding-bottom: 30px;
        }
        & a {
          font-size: inherit;
          color: inherit;
        }
      }
      &__description {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin-top: 15px;
        font-size: 14px;
        & .Lcol {
          display: flex;
          flex-flow: row wrap;
          font-family: $font-secondary;
          & .author {
            margin-bottom: 5px;
            & strong {
              font-family: $font-secondary-bold;
            }
            & a {
              color: $white;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          & .author,
          & .date { width: 100%;}
        }
        & .Rcol {
          display: flex;
          & .views,
          & .comments,
          & .likes {
            position: relative;
            margin-left: 25px;
            font-size: 13px;
            font-family: $font-secondary;
            color: $white;
            &:before {
              display: block;
              position: absolute;
              height: 14px;
              width: 14px;
              top: 0;
              left: 0;
            }
          }
          & .views {
            padding-left: 28px;
            &:before {
              content: svg-load('../images/icon_eye.svg', fill = $white);
            }
          }
          & .comments {
            padding-left: 22px;
            &:before {
              content: svg-load('../images/icon_comment.svg', fill = $white);
            }
          }
          & .likes {
            padding-left: 20px;
            cursor: pointer;
            &:before {
              content: svg-load('../images/icon_like.svg', fill = $white);
            }
            &:hover,
            &.active {
              &:before {
                content: svg-load('../images/icon_like-filled.svg', fill = $white);
              }
            }
          }
        }
      }
    }
  }
  & .slick-dots {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 9;
    & li {
      display: inline-block;
      height: 8px;
      width: 8px;
      margin: 0 8px;
      opacity: 0.5;
      &.slick-active {
        opacity: 1;
      }
      & button {
        display: block;
        height: 100%;
        width: 100%;
        font-size: 0;
        background-color: $white;
        @include border-radius($full-round);
        overflow: hidden;
        color: transparent;
      }
    }
  }
}
.recipe-slider-arrows {
  & .arrow-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 50px;
    z-index: 9;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: 0 50%;
    color: transparent;
    cursor: pointer;
    &:hover {
      & .arrow {
        &:after,
        &:before,
        & span {
          background-color: $white;
        }
        & span {
          width: 65px;
        }
      }
    }
    @media #{$M_SMX} {
      display: none;
    }
    & .arrow {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 50px;
      height: 14px;
      margin: auto 0;
      &:before,
      &:after {
        display: block;
        position: absolute;
        content: '';
        height: 1px;
        width: 6px;
        background-color: $gray-8F;
      }
      span {
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        top: 7px;
        background-color: $gray-8F;
        transition: 0.1s;
      }
      &.custom-prev {
        left: 0;
        & span {
          left: 0;
        }
        &:before {
          left: 0;
          top: 5px;
          @include transform-rotate(-40deg);
        }
        &:after {
          left: 0;
          bottom: 4px;
          @include transform-rotate(40deg);
        }
      }
      &.custom-next {
        right: 0;
        & span {
          right: 0;
        }
        &:before {
          right: 0;
          top: 5px;
          @include transform-rotate(40deg);
        }
        &:after {
          right: 0;
          bottom: 4px;
          @include transform-rotate(-40deg);
        }
      }
    }
    &.left {
      left: 40px;
    }
    &.right {
      right: 40px;
    }
  }
}