+b.recipe-slider-wr
  +b.recipe-slider
    +e.item
      img(src="./temp/recipe-slider-pic1.png")
      +b.inner-content
        +e.category
          a(href="#") Домашняя кухня
        +e.title
          h1
            a(href="#") Классический соус бешамель
        +e.description
          +b.Lcol
            +b.author
              strong Автор: 
              |
              a(href="#") Soys.by
            +b.date 19 августа 2017
          +b.Rcol
            +b.views 563
            +b.A(href="#").comments 932
            +b.likes 130
    +e.item
      img(src="./temp/recipe-slider-pic1.png")
      +b.inner-content
        +e.category
          a(href="#") Домашняя кухня
        +e.title
          h1
            a(href="#") Классический соус бешамель
        +e.description
          +b.Lcol
            +b.author
              strong Автор: 
              |
              a(href="#") Soys.by
            +b.date 19 августа 2017
          +b.Rcol
            +b.views 563
            +b.A(href="#").comments 932
            +b.likes 130
    +e.item
      img(src="./temp/recipe-slider-pic1.png")
      +b.inner-content
        +e.category
          a(href="#") Домашняя кухня
        +e.title
          h1
            a(href="#") Классический соус бешамель
        +e.description
          +b.Lcol
            +b.author
              strong Автор: 
              |
              a(href="#") Soys.by
            +b.date 19 августа 2017
          +b.Rcol
            +b.views 563
            +b.A(href="#").comments 932
            +b.likes 130

  +b.recipe-slider-arrows
    +b.arrow-btn.left
      +b.custom-prev.arrow
        span
    +b.arrow-btn.right 
      +b.custom-next.arrow
        span