+b.slider-insta.slider-default
  +b.section-title
    h2
      a(href="#") Наш Instagram
  +b('ul').slider-list
    +e.item
      a(href="#")
        img(src="./temp/insta-slide1.png")
    +e.item
      a(href="#")
        img(src="./temp/insta-slide2.png")
    +e.item
      a(href="#")
        img(src="./temp/insta-slide3.png")
    +e.item
      a(href="#")
        img(src="./temp/insta-slide4.png")
    +e.item
      a(href="#")
        img(src="./temp/insta-slide1.png")
    +e.item
      a(href="#")
        img(src="./temp/insta-slide2.png")
  +b.section-bottom
    +b.sub-title
      a(href="#") Больше фото
      +b.border
    +b.custom-controls
      +b.custom-prev
        span
      +b.custom-next
        span