doctype html
include ../templates/vendor/bemto/bemto

html(lang='ru')
  head
    include ../templates/partials/head/head
  body
    +b.popup-wr
      include ../templates/partials/page-popups/authorization-popup
          
    +b.page-wrapper
      +b.A.bg-link(href="#")
      include ../templates/partials/page-anchor/anchor

      +b.page-inner-wr
        include ../templates/partials/page-header/header
        include ../templates/partials/page-search-toolbar/search-toolbar

        +b.page-body
          +b.page-title-main
            h2 Новости
            +b.breadcrumbs
              +e.item
                a(href="#") Главная
              +e.item
                a(href="#") Новости
              +e.item
                a(href="#") Все новости

          +b.news-toolbar
            +e.title Поиск новости по названию:

            +b('label').search-bar.search-bar-default
              input(type="search" placeholder="Введите слово или название новости")
              i.icon

          +b.news-wr
            +b.features-bl
              +b.items-all
                span.title Найдено рецептов:
                span.val 4567

              +b.sort-bar
                +b.sort-list
                  +b.title Сортировать:
                  +b.dropdown-list
                    select
                      option по популярности
                      option по хронологии
                      option по просмотрам

                +b.sort-grid
                  +b.title Вид:
                  +b.grid-option.active-type
                  +b.row-option
                    span

            +b.news-list-body
              +e(style="background-image: url(./temp/news-pic-lrg1.png);").item.pic-bg
                +b.date 14 июля 2017
                +b.title
                  h3 #[a(href="#") 5 дней шаурмы. Фестиваль уличной еды в Минске]
                +b.features-row
                  +e.item.views 567
                  +e.A(href="#").item.comments 957
                  +e.item.likes 562

              +e.item
                +b.A(style="background-image: url(./temp/news-pic1.png);" href="#").pic
                  +b.date 14 июля 2017
                +b.title
                  h3 #[a(href="#") Шведская экспедиция]
                +b.text Этим летом насладиться изысканной едой за «столиком для одного» смогут гурманы из Лондона, Нью-Йорка и Берлина. В планах учредителей Eenmaal находится открытие постоянных мест, поскольку дебют ресторана «для одиночек» был на ура воспринят общественностью.
                +b.features-row
                  +e.item.views 567
                  +e.A(href="#").item.comments 957
                  +e.item.likes 562

              +e.item
                +b.A(style="background-image: url(./temp/news-pic2.png);" href="#").pic
                  +b.date 14 июля 2017
                +b.title
                  h3 #[a(href="#") Шведская экспедиция]
                +b.text Этим летом насладиться изысканной едой за «столиком для одного» смогут гурманы из Лондона, Нью-Йорка и Берлина. В планах учредителей Eenmaal находится открытие постоянных мест, поскольку дебют ресторана «для одиночек» был на ура воспринят общественностью.
                +b.features-row
                  +e.item.views 567
                  +e.A(href="#").item.comments 957
                  +e.item.likes 562

              +e.item
                +b.A(style="background-image: url(./temp/news-pic3.png);" href="#").pic
                  +b.date 14 июля 2017
                +b.title
                  h3 #[a(href="#") Шведская экспедиция]
                +b.text Этим летом насладиться изысканной едой за «столиком для одного» смогут гурманы из Лондона, Нью-Йорка и Берлина. В планах учредителей Eenmaal находится открытие постоянных мест, поскольку дебют ресторана «для одиночек» был на ура воспринят общественностью.
                +b.features-row
                  +e.item.views 567
                  +e.A(href="#").item.comments 957
                  +e.item.likes 562

              +e.item
                +b.A(style="background-image: url(./temp/news-pic4.png);" href="#").pic
                  +b.date 14 июля 2017
                +b.title
                  h3 #[a(href="#") Шведская экспедиция]
                +b.text Этим летом насладиться изысканной едой за «столиком для одного» смогут гурманы из Лондона, Нью-Йорка и Берлина. В планах учредителей Eenmaal находится открытие постоянных мест, поскольку дебют ресторана «для одиночек» был на ура воспринят общественностью.
                +b.features-row
                  +e.item.views 567
                  +e.A(href="#").item.comments 957
                  +e.item.likes 562

              +e.item
                +b.A(style="background-image: url(./temp/news-pic5.png);" href="#").pic
                  +b.date 14 июля 2017
                +b.title
                  h3 #[a(href="#") Шведская экспедиция]
                +b.text Этим летом насладиться изысканной едой за «столиком для одного» смогут гурманы из Лондона, Нью-Йорка и Берлина. В планах учредителей Eenmaal находится открытие постоянных мест, поскольку дебют ресторана «для одиночек» был на ура воспринят общественностью.
                +b.features-row
                  +e.item.views 567
                  +e.A(href="#").item.comments 957
                  +e.item.likes 562

              +e.item
                +b.A(style="background-image: url(./temp/news-pic6.png);" href="#").pic
                  +b.date 14 июля 2017
                +b.title
                  h3 #[a(href="#") Шведская экспедиция]
                +b.text Этим летом насладиться изысканной едой за «столиком для одного» смогут гурманы из Лондона, Нью-Йорка и Берлина. В планах учредителей Eenmaal находится открытие постоянных мест, поскольку дебют ресторана «для одиночек» был на ура воспринят общественностью.
                +b.features-row
                  +e.item.views 567
                  +e.A(href="#").item.comments 957
                  +e.item.likes 562

              +e.item
                +b.A(style="background-image: url(./temp/news-pic7.png);" href="#").pic
                  +b.date 14 июля 2017
                +b.title
                  h3 #[a(href="#") Шведская экспедиция]
                +b.text Этим летом насладиться изысканной едой за «столиком для одного» смогут гурманы из Лондона, Нью-Йорка и Берлина. В планах учредителей Eenmaal находится открытие постоянных мест, поскольку дебют ресторана «для одиночек» был на ура воспринят общественностью.
                +b.features-row
                  +e.item.views 567
                  +e.A(href="#").item.comments 957
                  +e.item.likes 562

              +e(style="background-image: url(./temp/news-pic-lrg2.png);").item.pic-bg
                +b.date 14 июля 2017
                +b.title
                  h3 #[a(href="#") 5 дней шаурмы. Фестиваль уличной еды в Минске]
                +b.features-row
                  +e.item.views 567
                  +e.A(href="#").item.comments 957
                  +e.item.likes 562

              +e.item
                +b.A(style="background-image: url(./temp/news-pic8.png);" href="#").pic
                  +b.date 14 июля 2017
                +b.title
                  h3 #[a(href="#") Шведская экспедиция]
                +b.text Этим летом насладиться изысканной едой за «столиком для одного» смогут гурманы из Лондона, Нью-Йорка и Берлина. В планах учредителей Eenmaal находится открытие постоянных мест, поскольку дебют ресторана «для одиночек» был на ура воспринят общественностью.
                +b.features-row
                  +e.item.views 567
                  +e.A(href="#").item.comments 957
                  +e.item.likes 562

              +e.item
                +b.A(style="background-image: url(./temp/news-pic9.png);" href="#").pic
                  +b.date 14 июля 2017
                +b.title
                  h3 #[a(href="#") Шведская экспедиция]
                +b.text Этим летом насладиться изысканной едой за «столиком для одного» смогут гурманы из Лондона, Нью-Йорка и Берлина. В планах учредителей Eenmaal находится открытие постоянных мест, поскольку дебют ресторана «для одиночек» был на ура воспринят общественностью.
                +b.features-row
                  +e.item.views 567
                  +e.A(href="#").item.comments 957
                  +e.item.likes 562
                  
              +e.item
                +b.A(style="background-image: url(./temp/news-pic10.png);" href="#").pic
                  +b.date 14 июля 2017
                +b.title
                  h3 #[a(href="#") Шведская экспедиция]
                +b.text Этим летом насладиться изысканной едой за «столиком для одного» смогут гурманы из Лондона, Нью-Йорка и Берлина. В планах учредителей Eenmaal находится открытие постоянных мест, поскольку дебют ресторана «для одиночек» был на ура воспринят общественностью.
                +b.features-row
                  +e.item.views 567
                  +e.A(href="#").item.comments 957
                  +e.item.likes 562


          <div class="section-bottom">
            <div class="sub-title"><a href="#">Загрузить еще</a>
              <div class="border">
              </div>
            </div>
          </div>

          +b.slider-event.slider-default
            +b.section-title
              h2
                a(href="#") Популярные новости
            +b('ul').slider-list
              +e.item
                img(src="./temp/event-slide1.png")
                a(href="#")
                  +b.inner
                    +b.date 19 июля 2017
                    +b.title
                      h4 5 дней шаурмы. Фестиваль уличной еды в Минске.
              +e.item
                img(src="./temp/event-slide2.png")
                a(href="#")
                  +b.inner
                    +b.date 19 июля 2017
                    +b.title
                      h4 Снимай как «Soys.by», готовь как Шеф-повар с Gorenje!
              +e.item
                img(src="./temp/event-slide3.png")
                a(href="#")
                  +b.inner
                    +b.date 19 июля 2017
                    +b.title
                      h4 5 дней шаурмы. Фестиваль уличной еды в Минске.
              +e.item
                img(src="./temp/event-slide4.png")
                a(href="#")
                  +b.inner
                    +b.date 19 июля 2017
                    +b.title
                      h4 Снимай как «Soys.by», готовь как Шеф-повар с Gorenje!
              +e.item
                img(src="./temp/event-slide1.png")
                a(href="#")
                  +b.inner
                    +b.date 19 июля 2017
                    +b.title
                      h4 5 дней шаурмы. Фестиваль уличной еды в Минске.
              +e.item
                img(src="./temp/event-slide2.png")
                a(href="#")
                  +b.inner
                    +b.date 19 июля 2017
                    +b.title
                      h4 Снимай как «Soys.by», готовь как Шеф-повар с Gorenje!
            +b.section-bottom
              +b.sub-title
                a(href="#") Все новости
                +b.border
              +b.custom-controls
                +b.custom-prev
                  span
                +b.custom-next
                  span
          
        include ../templates/partials/page-footer/footer

  block scripts
    script(src='assets/scripts/vendor/jquery-2.2.4.min.js')
    script(src='assets/scripts/tools.js')
    script(src='assets/scripts/vendor/slick.min.js')
    script(src='assets/scripts/vendor/selectize.min.js')
    script(src='assets/scripts/vendor/jquery-ui.min.js')