doctype html
include ../templates/vendor/bemto/bemto

html(lang='ru')
  head
    include ../templates/partials/head/head
  body
    +b.popup-wr
      include ../templates/partials/page-popups/authorization-popup
          
    +b.page-wrapper
      +b.A.bg-link(href="#")
      include ../templates/partials/page-anchor/anchor

      +b.page-inner-wr
        include ../templates/partials/page-header/header--logged
        include ../templates/partials/page-search-toolbar/search-toolbar

        +b.page-body
          +b.page-profile
            +b(style="background-image: url(./temp/page-top-bg2.png);").page-top
              +e.user-info
                +e.user-pic
                  img(src="./assets/images/soys-about-logo.png")

                +e.user-main
                  +e.user-name.menu Меню
                    +b.mobile-trigger

            +b.page-aside
              +e.list
                +e.item
                  a(href="#") О проекте
                +e.item
                  a(href="#") Правила
                +e.item
                  a(href="#") Рекламодателям
                +e.item
                  a(href="#") Контакты
                +e.item.active
                  a(href="#") Помощь
              +b.mobile-trigger

            +b.page-main-content
              +b.text-page
                h2 Вопросы и ответы

                +b.expand-list
                  +e.item
                    +b.item-title
                      h3 Регистрация

                    +b.item-body
                      p Что делать, если вы не получили письмо с подтверждением регистрации? Такое может случиться по нескольким причинам. Либо письмо попало в спам, либо вы неправильно ввели свой email при заполнении формы редактирования. Напишите нам о возникшей проблеме на #[a(href="#") support@soys.by], указав свой e-mail и имя пользователя.

                  +e.item
                    +b.item-title
                      h3 Рецепт дня

                    +b.item-body
                      p Что такое рецепт дня и как мы его выбираем? Рецептом дня становится рецепт, набравший наибольшее кол-во баллов за последние 24 часа. Рецепт дня обновляется ежедневно в 9.00 утра, и находится на месте победителя сутки, пока его не заменит следующий рецепт. В голосование за рецепт дня попадают рецепты, которые были отправлены на модерацию и проверены до 8:00 (по Минску) утра текущего дня! Если ваш рецепт был проверен после 8:00 (по Минску), то он попадает в голосование на следующий день. Оставлять свои голоса з Рецепт дня могут только авторзованные пользователи с рейтингом с рейтингом автора выше 100 баллов.

                  +e.item
                    +b.item-title
                      h3 Как добавить рецепт

                    +b.item-body
                      p Вы можете поделиться с другими пользователями сайта eda.ru вашим любимым семейным рецептом или рецептом, который придумали вы сами. Для этого используйте форму добавления рецепта и внимательно следуйте нашим подсказкам:

                      +b('ul').num-list
                        +e.item Впишите название рецепта. Оно должно быть понятным и отражать тип и состав вашего блюда (см. пункт 1 правил модерации рецептов на сайте soys.by. Обратите внимание на подсказку: если название вашего рецепта совпало хотя бы с одним из названий рецептов в нашем каталоге, скорее всего, такое блюдо уже есть на сайте soys.by. Проверьте, так ли это, перейдя по ссылке из подсказки. Если все-таки ваше блюдо отличается от уже имеющегося, измените название. Например, вместо «Салат оливье» напишите «Салат оливье с креветками и домашним майонезом».
                        +e.item Укажите ингредиенты, их количество и единицы измерения. Впишите первые буквы ингредиента и затем выберите его из выпадающего списка. Новые ингредиенты добавляйте только в том случае, если не обнаружили их в списке. Не указывайте в качестве ингредиентов названия готовых блюд, а также корректно указывайте единицы измерения: не измеряйте жидкости в граммах, а овощи — в миллилитрах.
                        +e.item Делайте инструкцию пошаговой, отделяя каждый шаг двойным нажатием «Enter». Не проставляйте номера этапов — они появятся автоматически при публикации рецепта.
                        +e.item Укажите время приготовления, количество порций и категорию блюда.
                        +e.item Опубликуйте рецепт, пропустив поля добавления заголовка и текста истории (см. Как добавить историю к рецепту).
                        +e.item Проверьте текст вашего рецепта на наличие ошибок и, если необходимо, воспользуйтесь ссылкой «Отредактировать рецепт» на странице вашего рецепта для внесения корректировок.

                      p Вы можете использовать форму добавления рецепта, для того чтобы записать и сохранить в своей книге рецептов рецепт вашего любимого блюда, но помните: все рецепты, добавленные вами на сайт soys.by, становятся автоматически доступны другим пользователям. Любой авторизованный пользователь сайта eda.ru может добавить ваш рецепт в свою книгу рецептов, оценить его, оставить к нему комментарий и задать вам вопрос. Чем больше хороших оценок наберет ваш рецепт, тем выше будет его рейтинг и, соответственно, положение в каталоге рецептов. Старайтесь добавлять хорошие, проверенные рецепты, которыми смогли бы воспользоваться все посетители сайта soys.by.

                  +e.item
                    +b.item-title
                      h3 Рецепт дня

                    +b.item-body
                      p Что такое рецепт дня и как мы его выбираем? Рецептом дня становится рецепт, набравший наибольшее кол-во баллов за последние 24 часа. Рецепт дня обновляется ежедневно в 9.00 утра, и находится на месте победителя сутки, пока его не заменит следующий рецепт. В голосование за рецепт дня попадают рецепты, которые были отправлены на модерацию и проверены до 8:00 (по Минску) утра текущего дня! Если ваш рецепт был проверен после 8:00 (по Минску), то он попадает в голосование на следующий день. Оставлять свои голоса з Рецепт дня могут только авторзованные пользователи с рейтингом с рейтингом автора выше 100 баллов.



        include ../templates/partials/page-footer/footer

  block scripts
    script(src='assets/scripts/vendor/jquery-2.2.4.min.js')
    script(src='assets/scripts/tools.js')
    script(src='assets/scripts/vendor/slick.min.js')
    script(src='assets/scripts/vendor/selectize.min.js')
    script(src='assets/scripts/vendor/jquery-ui.min.js')