+b.slider-tips
  +b.section-title
    h2
      a(href="#") Лайфхаки от шефа
  +b('ul').slider-list
    +e.item
      +b.inner
        +b.title
          h3 Важнейшие поварские техники
        +b.text Суть метода в том, что вы сразу начнете готовить и через конкретные блюда осваиваете основные техники и принципы приготовления еды. Курс поделен на уроки, сюжет которых чаще всего — меню одного обеда из трех блюд.
        +b.link
          a(href="#") Подробнее
    +e.item
      +b.inner
        +b.title
          h3 Важнейшие поварские техники
        +b.text Суть метода в том, что вы сразу начнете готовить и через конкретные блюда осваиваете основные техники и принципы приготовления еды. Курс поделен на уроки, сюжет которых чаще всего — меню одного обеда из трех блюд.
        +b.link
          a(href="#") Подробнее
    +e.item
      +b.inner
        +b.title
          h3 Важнейшие поварские техники
        +b.text Суть метода в том, что вы сразу начнете готовить и через конкретные блюда осваиваете основные техники и принципы приготовления еды. Курс поделен на уроки, сюжет которых чаще всего — меню одного обеда из трех блюд.
        +b.link
          a(href="#") Подробнее