+b.tags-section
  +e.list
    +e.list-title
      a(href="#") Выпечка и десерты 
        |
        span 1283
    +e('ul').tag-list
      +e.item
        a(href="#") Пирожки 
          |
          span 129
      +e.item
        a(href="#") Капкейк 
          |
          span 104
      +e.item
        a(href="#") Крем 
          |
          span 78
      +e.item
        a(href="#") Тесто для пирожков 
          |
          span 75
      +e.item
        a(href="#") Куличи 
          |
          span 74
      +e.item
        a(href="#") Манник 
          |
          span 63
      +e.item
        a(href="#") Хачапури 
          |
          span 55
      +e.item
        a(href="#") Рогалики 
          |
          span 28
      +e.item
        a(href="#") Коржики 
          |
          span 17
      +e.item
        a(href="#") Пирожное &laquo;Мадлен&raquo; 
          |
          span 16

  +e.list
    +e.list-title
      a(href="#") Основные блюда 
        |
        span 11486
    +e('ul').tag-list
      +e.item
        a(href="#") Котлеты 
          |
          span 418
      +e.item
        a(href="#") Пюре 
          |
          span 240
      +e.item
        a(href="#") Лазанья 
          |
          span 124
      +e.item
        a(href="#") Кебаб 
          |
          span 47
      +e.item
        a(href="#") Рататуй 
          |
          span 46
      +e.item
        a(href="#") Биточки 
          |
          span 29
      +e.item
        a(href="#") Бефстроганов 
          |
          span 24
      +e.item
        a(href="#") Чахохбили 
          |
          span 17
      +e.item
        a(href="#") Хинкали 
          |
          span 16
      +e.item
        a(href="#") Печеночный торт 
          |
          span 13

  +e.list
    +e.list-title
      a(href="#") Завтраки 
        |
        span 2047
    +e('ul').tag-list
      +e.item
        a(href="#") Омлет 
          |
          span 352
      +e.item
        a(href="#") Каши 
          |
          span 339
      +e.item
        a(href="#") Сырники 
          |
          span 165
      +e.item
        a(href="#") Творожные запеканки 
          |
          span 130
      +e.item
        a(href="#") Яичница 
          |
          span 109
      +e.item
        a(href="#") Драники 
          |
          span 49
      +e.item
        a(href="#") Мюсли 
          |
          span 38

  +e.list
    +e.list-title
      a(href="#") Салаты 
        |
        span 5111
    +e('ul').tag-list
      +e.item
        a(href="#") Салаты с курицей 
          |
          span 352
      +e.item
        a(href="#") Овощные салаты 
          |
          span 136
      +e.item
        a(href="#") Винегрет 
          |
          span 117
      +e.item
        a(href="#") Салат &laquo;Цезарь&raquo; 
          |
          span 106
      +e.item
        a(href="#") Оливье 
          |
          span 84
      +e.item
        a(href="#") Фруктовые салаты 
          |
          span 54
      +e.item
        a(href="#") Мясные салаты 
          |
          span 46
      +e.item
        a(href="#") Мимоза 
          |
          span 35
      +e.item
        a(href="#") Греческий салат 
          |
          span 29
      +e.item
        a(href="#") Салаты корейские 
          |
          span 2

  +e.list
    +e.list-title
      a(href="#") Паста и пицца 
        |
        span 1903
    +e('ul').tag-list
      +e.item
        a(href="#") Равиоли 
          |
          span 71
      +e.item
        a(href="#") Паста карбонара 
          |
          span 69
      +e.item
        a(href="#") Болоньезе 
          |
          span 54
      +e.item
        a(href="#") Тесто для пиццы 
          |
          span 47

  +e.list
    +e.list-title
      a(href="#") Закуски 
        |
        span 5455
    +e('ul').tag-list
      +e.item
        a(href="#") Дип 
          |
          span 93
      +e.item
        a(href="#") Фриттата 
          |
          span 73
      +e.item
        a(href="#") Чипсы 
          |
          span 58
      +e.item
        a(href="#") Карпаччо 
          |
          span 55
      +e.item
        a(href="#") Хумус 
          |
          span 53
      +e.item
        a(href="#") Форшмак 
          |
          span 26
      +e.item
        a(href="#") Лобио 
          |
          span 20
      +e.item
        a(href="#") Лечо 
          |
          span 13
      +e.item
        a(href="#") Холодец 
          |
          span 11
      +e.item
        a(href="#") Бастурма 
          |
          span 5

  +e.list
    +e.list-title
      a(href="#") Супы 
        |
        span 3117
    +e('ul').tag-list
      +e.item
        a(href="#") Суп-пюре 
          |
          span 305
      +e.item
        a(href="#") Томатный суп 
          |
          span 106
      +e.item
        a(href="#") Щи 
          |
          span 67
      +e.item
        a(href="#") Гороховый суп 
          |
          span 64
      +e.item
        a(href="#") Рассольник 
          |
          span 39
      +e.item
        a(href="#") Картофельный суп 
          |
          span 39
      +e.item
        a(href="#") Минестроне 
          |
          span 32
      +e.item
        a(href="#") Мисо 
          |
          span 28
      +e.item
        a(href="#") Капустняк 
          |
          span 8
      +e.item
        a(href="#") Бозбаш 
          |
          span 6

  +e.list
    +e.list-title
      a(href="#") Сэндвичи 
        |
        span 625
    +e('ul').tag-list
      +e.item
        a(href="#") Тосты 
          |
          span 151
      +e.item
        a(href="#") Брускетта 
          |
          span 70
      +e.item
        a(href="#") Гамбургер 
          |
          span 37
      +e.item
        a(href="#") Хот-дог 
          |
          span 14
      +e.item
        a(href="#") Чизбургер 
          |
          span 13
      +e.item
        a(href="#") Клубный сэндвич 
          |
          span 8
      +e.item
        a(href="#") Крок-месье 
          |
          span 6
      +e.item
        a(href="#") Панини 
          |
          span 6
      +e.item
        a(href="#") Крок-мадам 
          |
          span 5

  +e.list
    +e.list-title
      a(href="#") Ризотто 
        |
        span 242

  +e.list
    +e.list-title
      a(href="#") Напитки 
        |
        span 2070
    +e('ul').tag-list
      +e.item
        a(href="#") Молочный коктейль 
          |
          span 48
      +e.item
        a(href="#") Коктейли с водкой 
          |
          span 36
      +e.item
        a(href="#") Коктейли с виски 
          |
          span 33
      +e.item
        a(href="#") Коктейли безалкогольные 
          |
          span 23
      +e.item
        a(href="#") Кисель 
          |
          span 22
      +e.item
        a(href="#") Сангрия
          |
          span 18
      +e.item
        a(href="#") Квас 
          |
          span 12
      +e.item
        a(href="#") Морс 
          |
          span 6

  +e.list
    +e.list-title
      a(href="#") Соусы и маринады 
        |
        span 1339
    +e('ul').tag-list
      +e.item
        a(href="#") Майонез 
          |
          span 61
      +e.item
        a(href="#") Соус &laquo;Песто&raquo; 
          |
          span 38
      +e.item
        a(href="#") Грибной соус 
          |
          span 25
      +e.item
        a(href="#") Горчица 
          |
          span 24
      +e.item
        a(href="#") Барбекю 
          |
          span 20
      +e.item
        a(href="#") Соус &laquo;Тартар&raquo; 
          |
          span 18
      +e.item
        a(href="#") Соус &laquo;Бешамель&raquo; 
          |
          span 14
      +e.item
        a(href="#") Сырный соус
          |
          span 12
      +e.item
        a(href="#") Кетчуп 
          |
          span 10

  +e.list
    +e.list-title
      a(href="#") Бульоны 
        |
        span 102
    +e('ul').tag-list
      +e.item
        a(href="#") Куриный бульон 
          |
          span 5
      +e.item
        a(href="#") Овощной бульон 
          |
          span 8
