+b('footer').footer
  +b.footer-top
    p Территория вкуса Soys.by создана для тех, кто любит готовить и пробовать новые блюда. Мы знакомим вас с лучшими поварами и заведениями мира и уверяем, что каждый может сделать кулинарный шедевр на своей кухне!
  +b.footer-bottom
    +e.Lcol
      +b.footer-logo
        a(href="#")
      +b.footer-text Здесь вы найдете множество новых кулинарных идей, станете автором собственной Кулинарной книги, встретите друзей-единомышленников и сможете поболтать обо всем на свете!
    +e.Mcol
      +b.subscription
        form
          label
            input(type="text" placeholder="Подписаться на нашу рассылку")
            input(type="submit")
      +b.footer-nav
        +b('ul').footer-category-nav
          +e('li').item
            a(href="#") Домашняя кухня
          +e('li').item
            a(href="#") Уличная еда
          +e('li').item
            a(href="#") Ресторанное меню
          +e('li').item
            a(href="#") Барная карта
        +b('ul').footer-main-nav
          +e('li').item
            a(href="#") На главную
          +e('li').item
            a(href="#") О проекте
          +e('li').item
            a(href="#") Рецепты
          +e('li').item
            a(href="#") Правила
          +e('li').item
            a(href="#") Новости
          +e('li').item
            a(href="#") Помощь
          +e('li').item
            a(href="#") Лайфхаки
          +e('li').item
            a(href="#") Статьи
        +b.Rcol
          +b('ul').sub-nav
            +e.item
              a(href="#") Рекламодателям
            +e.item
              a(href="#") Контакты
          +b('ul').social
            +e.item
              a(href="#").instagram
            +e.item
              a(href="#").facebook
            +e.item
              a(href="#").ok
            +e.item
              a(href="#").vk
  +b.legal
    +b.copyright © 2017 ООО «Soys.by» — территория вкуса. Все права защищены
    +b.author Произведено в #[a(href="#") Oj Group Production]
