+b.slider-event.slider-default
  +b.section-title
    h2
      a(href="#") Ближайшие события
  +b('ul').slider-list
    +e.item
      img(src="./temp/event-slide1.png")
      a(href="#")
        +b.inner
          +b.date 19 июля 2017
          +b.title
            h4 5 дней шаурмы. Фестиваль уличной еды в Минске.
    +e.item
      img(src="./temp/event-slide2.png")
      a(href="#")
        +b.inner
          +b.date 19 июля 2017
          +b.title
            h4 Снимай как «Soys.by», готовь как Шеф-повар с Gorenje!
    +e.item
      img(src="./temp/event-slide3.png")
      a(href="#")
        +b.inner
          +b.date 19 июля 2017
          +b.title
            h4 5 дней шаурмы. Фестиваль уличной еды в Минске.
    +e.item
      img(src="./temp/event-slide4.png")
      a(href="#")
        +b.inner
          +b.date 19 июля 2017
          +b.title
            h4 Снимай как «Soys.by», готовь как Шеф-повар с Gorenje!
    +e.item
      img(src="./temp/event-slide1.png")
      a(href="#")
        +b.inner
          +b.date 19 июля 2017
          +b.title
            h4 5 дней шаурмы. Фестиваль уличной еды в Минске.
    +e.item
      img(src="./temp/event-slide2.png")
      a(href="#")
        +b.inner
          +b.date 19 июля 2017
          +b.title
            h4 Снимай как «Soys.by», готовь как Шеф-повар с Gorenje!
  +b.section-bottom
    +b.sub-title
      a(href="#") Все события
      +b.border
    +b.custom-controls
      +b.custom-prev
        span
      +b.custom-next
        span