+b.recipe-popup.popup
  +b.closer
  +b.popup-inner
    +b(style="background-image: url(./temp/recipe-step1.png);").pic
    +b.main
      +b.title
        h3 Шаг 2. Начинка
      +b.text
        p Выливаем смесь в муку, помешиваем и добавляем ложку оливкового масла. Тщательно вымешиваем. Если сильно липнет, сверху просейте еще грамм 30-50 муки. На ровную поверхность насыпаем горку муки, солим, делаем в ней углубление и вливаем половину воды, уксус и растительное масло.
