+b.restore-password-popup.popup.popup-default
  +b.closer
  +b.inner
    h4 Восстановление пароля
    +b('form').form-wr
      label
        input(type="email" placeholder="Ваш e-mail*" required)
      
      button.btn.btn-submit(type="submit") Отправить

    +b.post-step
      p Письмо с новым паролем отправленно на указанный вами #[a(href="#") адрес электронной почты]

    +b.A(href="#").return-back
      | Вернуться назад
      +b.arrow
        span