+b.search-toolbar
  +b.closer-wr
    +b.closer
      span Свернуть поиск
      span.hidden Подобрать рецепт
      i
  +e.row
    +e.wr
      +e.col.dropdown
        +b.dropdown-btn
          span
            | Выбрать раздел
            i.dropdown-arrow
        +b.dropdown-wr
          +b.dropdown-list
            +e.item
              label
                input(type="checkbox")
                i
                | Любой раздел
            +e.item
              label
                input(type="checkbox")
                i
                | Домашняя кухня
            +e.item
              label
                input(type="checkbox")
                i
                | Уличная еда
            +e.item
              label
                input(type="checkbox")
                i
                | Ресторанное меню
            +e.item
              label
                input(type="checkbox")
                i
                | Барная карта
      +e.col.dropdown
        +b.dropdown-btn
          span
            | Выбрать категорию
            i.dropdown-arrow
        +b.dropdown-wr
          +b.dropdown-list
            +e.item
              label
                input(type="checkbox")
                i
                | Любая категория
            +e.item
              label
                input(type="checkbox")
                i
                | Заготовки
            +e.item
              label
                input(type="checkbox")
                i
                | Выпечка и десерты
            +e.item
              label
                input(type="checkbox")
                i
                | Основные блюда
            +e.item
              label
                input(type="checkbox")
                i
                | Завтраки
            +e.item
              label
                input(type="checkbox")
                i
                | Салаты
            +e.item
              label
                input(type="checkbox")
                i
                | Супы
            +e.item
              label
                input(type="checkbox")
                i
                | Паста и пицца
            +e.item
              label
                input(type="checkbox")
                i
                | Закуски
            +e.item
              label
                input(type="checkbox")
                i
                | Сэндвичи
            +e.item
              label
                input(type="checkbox")
                i
                | Ризотто
            +e.item
              label
                input(type="checkbox")
                i
                | Напитки
            +e.item
              label
                input(type="checkbox")
                i
                | Соусы и маринады
            +e.item
              label
                input(type="checkbox")
                i
                | Бульоны
      +e.col.dropdown
        +b.dropdown-btn
          span
            | Выбрать меню
            i.dropdown-arrow
        +b.dropdown-wr
          +b.dropdown-list
            +e.item
              label
                input(type="checkbox")
                i
                | Любое меню
            +e.item
              label
                input(type="checkbox")
                i
                | Вегетерианское
            +e.item
              label
                input(type="checkbox")
                i
                | Детское
            +e.item
              label
                input(type="checkbox")
                i
                | Низкокалорийное
            +e.item
              label
                input(type="checkbox")
                i
                | Постная еда
            +e.item
              label
                input(type="checkbox")
                i
                | Меню при диабете
      +e.col.search
        +b.search-transform
          +b('label').search-wr
            input(type="search" placeholder="Поиск рецепта")
            span.icon
          span.search-close
      +e.col.submit
        button(type="submit").btn Подобрать рецепт